.article-container {
  padding-top: 4rem;
  margin: 0 auto;
  max-width: 960px;

  .title {
    font-size: 1.6rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--color-secondary);
    margin-bottom: 6px;
    margin-top: 2rem;
  }

}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.recent-posts-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 40px;
  color: --color-grey0;
}

.post-snippet {
  border-bottom: 1px solid #ccc;
  padding: 20px 0;
}

.post-snippet h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.post-snippet a {
  text-decoration: none;
  color: #333;
}

.post-snippet a:hover {
  color: #555;
}

.image-container {
  flex: 0 0 120px;
  margin-right: 20px;
}

.image {
  width: 100%;
  height: auto;
  display: block;
}

time {
  display: block;
  font-size: 14px;
  color: #999;
  margin-top: 5px;
}
