{{ $data := index site.Data.contact site.Language.Lang }}


<section class="section sec6  content-sec" id="contact">
    <div class="main-title">
        <h2> {{ $data.title | safeHTML }}
            <span class="bg-text" aria-hidden="true"> {{ $data.backgroundTitle }}</span>
        </h2>
        <div class="border"></div>
    </div>

    <div class="contact-content-con">
        <div class="left-contact">
            <h4>{{ $data.subtitle }}</h4>
            <p>{{ $data.detail }} </p>

            <div class="contact-info">
                <div class="contact-item">
                    <div class="icon">
                        <i class="fas fa-map-marker-alt"></i>
                        <span>Adresse :</span>
                    </div>
                    <p>
                        <span>{{$data.location}}</span>
                    </p>
                </div>
                <div class="contact-item">
                    <div class="icon">
                        <i class="fas fa-envelope"></i>
                        <span>Courriel :</span>
                    </div>
                    <p>
                        <span>{{$data.email}}</span>
                    </p>
                </div>
                <div class="contact-item">
                    <div class="icon">
                        <i class="fas fa-phone"></i>
                        <span>Téléphone :</span>
                    </div>
                    <p>
                        <span>{{$data.phone}}</span>
                    </p>
                </div>
                <div class="contact-item">
                    <div class="icon">
                        <i class="fas fa-globe-africa"></i>
                        <span>Langues :</span>
                    </div>
                    <p>
                        <span>{{$data.languages}}</span>
                    </p>
                </div>
            </div>
            <div class="contact-icons">
                <div class="contact-icon">
                    <a href="https://www.facebook.com/CercleVoileLyonMeyzieu/" target="_blank" aria-label="Facebook">
                        <i class="fab fa-facebook-f" aria-hidden="true"></i>
                        <span class="fa-sr-only">Visit our Facebook page</span>
                    </a>
                    
                </div>
            </div>
        </div>
        <div class="right-contact">
            <form name="contact" method="POST" data-netlify="true" data-netlify-recaptcha="true" netlify-honeypot="bot-field">
                <div class="input-control i-c-2">
                    <input type="text" name="name" required placeholder="Votre nom">
                    <input type="email" name="email" required placeholder="Votre email">
                </div>
                <div class="input-control">
                    <input type="text" name="subject" required placeholder="Sujet">
                </div>
                <div class="input-control">
                    <textarea name="message" id="" cols="15" rows="8" placeholder="Ecrivez ici..."></textarea>
                </div>
                <div data-netlify-recaptcha="true"></div>
                    <div class="btn-container">
                        <a href="#">
                            <button type="submit" class="btn-text">Envoyer
                              <span class="btn-icon"><i class="fas fa-chevron-right"></i></span>
                            </button>
                            <i class="bg"></i>
                        </a>
                    </div>


            </form>
        </div>
    </div>

</section>