{{ $data := index site.Data.news site.Language.Lang }}
{{ $glossary := index site.Data.glossary site.Language.Lang }}

<section class="section sec5 content-sec" id="news">
    <div class="main-title">
        <h2> {{ $data.title | safeHTML }}
            <span class="bg-text" aria-hidden="true"> {{ $data.backgroundTitle }}</span>
        </h2>
        <div class="border"></div>
    </div>

    <p class="sub-title">
        {{ $data.portText }}
    </p>

    <div class="news">
        <!-- Recent Posts box -->
        <a href="/recent-posts">
            <div class="news-box">
                <div class="new" onclick="location.href = '{{ .RelPermalink }}';">
                    <img src="/media/pexels-pixabay-262508.jpg" alt="">
                    <div class="news-text">
                        <h3 class="title">{{ $glossary.recent_articles }}</h3>
                        <p>{{ .Summary }}</p>
                    </div>
                </div>
                <!-- {{ range first 3 (where site.RegularPages "Type" "==" "news") }}
                    <div class="new" onclick="location.href = '{{ .RelPermalink }}';">
                        <img src="/media/{{ path.Base .Params.image }}" alt="">
                        <div class="news-text">
                            <h4>{{ .Title }}</h4>
                            <p>{{ .Summary }}</p>
                        </div>
                    </div>
                {{ end }} -->
            </div>
        </a>

        <!-- Archive box -->
        <a href="/archive-posts">
            <div class="news-box">

                
                <div class="new" onclick="location.href = '{{ .RelPermalink }}';">
                    <img src="/media/magnifier-g03d5fe137_1280.jpg" alt="">
                    <div class="news-text">
                        <h3>Archives</h3>
                        <p>{{ .Summary }}</p>
                    </div>
                </div>
               
            </div>
        </a>
    </div>
</section>
